.card {
    height: 500px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: start;
    padding-left: 10px;
}

img {
    text-align: center;
    margin-top: 5px;
    border-radius: 5%;
    width: 90%;
}

#mainContainer {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 675px) {
    #mainContainer {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}