.footer {
    color : #ccc ;
}

.footer .footer-one  {
    height: 30px;
    background-color: #37475A;
    color: #ccc;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .footer-two {
    height: 300px;
    padding-top: 20px;
    background-color: #212b36;
    display: flex;
    justify-content: space-around;
}

.footer .footer-two p {
    font-size: 15px;
    color: #ddd;
}

.footer .footer-two p:hover {
    text-decoration: underline;
}