/* pannel-one styling */
.pannel-one {
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.pannel-one .nav-bar-pannel-one-info:hover {
    border: 1px solid white;
}

/* Pannel-one logo */
.pannel-one-logo img {
    height: 50px;
    width: 130px;
}

/* pannel-one-address */
.pannel-one-address {
    height: 50px;
    width: 180px;
    padding-top: 7px;
}

.pannel-one-address .address-one {
    font-size: 0.85rem;
    color: #ccc;
    padding-left: 20px;
}

.pannel-one-address .address-two {
    font-size: 1rem;
}

/* pannel-one-searchBox */
.pannel-one-searchBox {
    display: flex;
    /* height: 50px;
    width: 380px; */
}

.pannel-one-searchBox .search-options {
    height: 40px;
}